# Fichiers compilés Java
*.class
*.jar
*.war
*.ear

# Dossiers de compilation (si tu utilises Maven/Gradle)
target/
build/
out/
bin/

# Fichiers spécifiques aux IDE (IntelliJ, Eclipse, VS Code)
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/

# Fichiers de logs
*.log

# Fichiers système (Mac / Windows)
.DS_Store
Thumbs.db
desktop.ini

# Si tu utilises Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup